
.ionide/scribe-screst.binlog
*.binlog
scribe-screst/build/.fake/
scribe-screst/build/.fake/
scribe-screst/build/build.fsx.lock
scribe-screst/build/results/
*.vs
*bin
*obj
scribe-screst/artifacts
.vscode/settings.json

.fake
.vs/
*.bak
artifacts/
build/.fake/
build/build.fsx.lock
build/reports/
build/results/
src/Scribe.Connector.REST/bin/
src/Scribe.Connector.REST/obj/
TestResults/
tests/Scribe.Connector.REST.Test/bin/
tests/Scribe.Connector.REST.Test/obj/
src/Scribe.Connector.REST/Scribe.Connector.REST.csproj.user
src/Scribe.Connector.REST/Properties/PublishProfiles/
src/Scribe.Connector.REST/Scribe.Connector.REST.csproj.user
/Scribe.Connector.REST.sln.DotSettings.user
src/Scribe.Connector.REST/Scribe.Connector.REST.csproj.DotSettings
*.DotSettings
Build.sln.DotSettings.user
